In [74]:
pd.set_option('display.max_colwidth', 1000, 'display.max_rows', None, 'display.max_columns', None)

In [73]:
import pandas as pd
import numpy as np

In [75]:
df = pd.read_stata('lendingclub_test.dta')

In [76]:
num_nans = df['depvar'].isna().sum()

print(num_nans)

0

In [77]:
array = []
array.append('depvar') # 종속변수

#더미변수
for i in range(1,7):
    array.append(f'home_ownership{i}')
for i in range(1,4):
    array.append(f'verification_status{i}')
for i in range(1,15):
    array.append(f'purpose{i}')
for i in range(1,52):
    array.append(f'addr_state{i}')
for i in range(1,13):
    array.append(f'emp_length{i}')
    
array.append('loan_amnt')
array.append('annual_inc')
array.append('dti')
array.append('delinq_2yrs')
array.append('fico_range_low')
array.append('fico_range_high')
array.append('inq_last_6mths')
array.append('open_acc')
array.append('pub_rec')
array.append('revol_bal')
array.append('revol_util')
array.append('total_acc')
array.append('collections_12_mths_ex_med')
array.append('tot_coll_amt')
array.append('pub_rec_bankruptcies')
array.append('tax_liens')

loan = df[array]

In [78]:
loan.head()

,depvar,home_ownership1,home_ownership2,home_ownership3,home_ownership4,home_ownership5,home_ownership6,verification_status1,verification_status2,verification_status3,purpose1,purpose2,purpose3,purpose4,purpose5,purpose6,purpose7,purpose8,purpose9,purpose10,purpose11,purpose12,purpose13,purpose14,addr_state1,addr_state2,addr_state3,addr_state4,addr_state5,addr_state6,addr_state7,addr_state8,addr_state9,addr_state10,addr_state11,addr_state12,addr_state13,addr_state14,addr_state15,addr_state16,addr_state17,addr_state18,addr_state19,addr_state20,addr_state21,addr_state22,addr_state23,addr_state24,addr_state25,addr_state26,addr_state27,addr_state28,addr_state29,addr_state30,addr_state31,addr_state32,addr_state33,addr_state34,addr_state35,addr_state36,addr_state37,addr_state38,addr_state39,addr_state40,addr_state41,addr_state42,addr_state43,addr_state44,addr_state45,addr_state46,addr_state47,addr_state48,addr_state49,addr_state50,addr_state51,emp_length1,emp_length2,emp_length3,emp_length4,emp_length5,emp_length6,emp_length7,emp_length8,emp_length9,emp_length10,emp_length11,emp_length12,loan_amnt,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,collections_12_mths_ex_med,tot_coll_amt,pub_rec_bankruptcies,tax_liens
0,0.0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,7500,65000.0,22.47,1,690,694,0,10,0,10869,0.715,36,0,225,0,0
1,1.0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,26250,73216.0,33.11,0,710,714,0,12,0,32793,0.593,26,0,0,0,0
2,0.0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,35000,160000.0,21.31,0,685,689,0,18,0,55052,0.590,29,0,1701,0,0
3,0.0,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,6000,40000.0,16.53,0,685,689,0,8,0,5918,0.489,15,0,0,0,0
4,0.0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,14000,105000.0,7.56,0,675,679,1,11,0,37349,0.523,17,0,0,0,0

In [79]:
# fico_average 컬럼 생성
loan['fico_average'] = (loan['fico_range_low']+loan['fico_range_high'])/2

loan.drop(['fico_range_low','fico_range_high'],axis = 1,inplace = True)

C:\Users\tjsru\AppData\Local\Temp\ipykernel_2532\2317653803.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan['fico_average'] = (loan['fico_range_low']+loan['fico_range_high'])/2
C:\Users\tjsru\AppData\Local\Temp\ipykernel_2532\2317653803.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan.drop(['fico_range_low','fico_range_high'],axis = 1,inplace = True)

In [53]:
loan.shape

(218584, 102)

In [80]:
num_nans = loan.isna().sum().sum()

print(num_nans)

0

# 로그변환

In [81]:
log_array =['loan_amnt','annual_inc','dti','delinq_2yrs','fico_average',
            'revol_bal','revol_util','total_acc','collections_12_mths_ex_med','tot_coll_amt']

In [82]:
import numpy as  np

for name in log_array:
    globals()['{}_log'.format(name)]=np.log1p(loan[name])

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\arraylike.py:397: RuntimeWarning: divide by zero encountered in log1p
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [83]:
loan['loan_amnt_log'] = loan_amnt_log
loan['annual_inc_log'] = annual_inc_log
loan['dti_log'] = dti_log
loan['delinq_2yrs_log'] = delinq_2yrs_log
loan['fico_average_log'] = fico_average_log
loan['revol_bal_log'] = revol_bal_log
loan['revol_util_log'] = revol_util_log
loan['total_acc_log'] = total_acc_log
loan['collections_12_mths_ex_med_log'] = collections_12_mths_ex_med_log
loan['tot_coll_amt_log'] = tot_coll_amt_log

C:\Users\tjsru\AppData\Local\Temp\ipykernel_2532\2037867783.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan['loan_amnt_log'] = loan_amnt_log
C:\Users\tjsru\AppData\Local\Temp\ipykernel_2532\2037867783.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan['annual_inc_log'] = annual_inc_log
C:\Users\tjsru\AppData\Local\Temp\ipykernel_2532\2037867783.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan['dti_log'] = dti_log
C:\Users\tjsru\AppData\Local\Temp\ipykernel_2532\2037867783.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan['delinq_2yrs_log'] = delinq_2yrs_log
C:\Users\tjsru\AppData\Local\Temp\ipykernel_2532\2037867783.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan['fico_average_log'] = fico_average_log
C:\Users\tjsru\AppData\Local\Temp\ipykernel_2532\2037867783.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan['revol_bal_log'] = revol_bal_log
C:\Users\tjsru\AppData\Local\Temp\ipykernel_2532\2037867783.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan['revol_util_log'] = revol_util_log
C:\Users\tjsru\AppData\Local\Temp\ipykernel_2532\2037867783.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan['total_acc_log'] = total_acc_log
C:\Users\tjsru\AppData\Local\Temp\ipykernel_2532\2037867783.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan['collections_12_mths_ex_med_log'] = collections_12_mths_ex_med_log
C:\Users\tjsru\AppData\Local\Temp\ipykernel_2532\2037867783.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan['tot_coll_amt_log'] = tot_coll_amt_log

In [84]:
loan.drop(columns = log_array, axis = 1, inplace=True)
loan.shape

C:\Users\tjsru\AppData\Local\Temp\ipykernel_2532\2520027382.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan.drop(columns = log_array, axis = 1, inplace=True)

(218584, 102)

In [85]:
num_nans = loan.isna().sum().sum()

print(num_nans)

0

# 더미변수 묶어주기 & 지우기

In [86]:
# 더미변수 묶어주기
loan['purpose_group1'] = loan['purpose1']+loan['purpose5']+loan['purpose6']+loan['purpose8']+loan['purpose9']
loan['purpose_group2'] = loan['purpose2']+loan['purpose3']
loan['purpose_group3'] = loan['purpose10']+loan['purpose11']+loan['purpose13']
loan['purpose_group4'] = loan['purpose4']+loan['purpose7']+loan['purpose12']

C:\Users\tjsru\AppData\Local\Temp\ipykernel_2532\2439469807.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan['purpose_group1'] = loan['purpose1']+loan['purpose5']+loan['purpose6']+loan['purpose8']+loan['purpose9']
C:\Users\tjsru\AppData\Local\Temp\ipykernel_2532\2439469807.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan['purpose_group2'] = loan['purpose2']+loan['purpose3']
C:\Users\tjsru\AppData\Local\Temp\ipykernel_2532\2439469807.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan['purpose_group3'] = loan['purpose10']+loan['purpose11']+loan['purpose13']
C:\Users\tjsru\AppData\Local\Temp\ipykernel_2532\2439469807.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan['purpose_group4'] = loan['purpose4']+loan['purpose7']+loan['purpose12']

In [87]:
loan.drop(['purpose_group3'],axis = 1,inplace = True)

C:\Users\tjsru\AppData\Local\Temp\ipykernel_2532\1113189158.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan.drop(['purpose_group3'],axis = 1,inplace = True)

In [88]:
loan = loan.rename({'purpose_group4':'purpose_group3'})

In [89]:
loan.drop(['purpose1','purpose2','purpose3','purpose4','purpose5','purpose6','purpose7',
         'purpose8','purpose9','purpose10','purpose11','purpose12','purpose13', 'purpose14'],axis = 1, inplace= True)

In [90]:
# 더미변수 하나씩 제거
loan.drop(['home_ownership6', 'verification_status3', 'addr_state51', 'emp_length12'], axis=1, inplace=True)

In [91]:
loan.shape

(218584, 87)

In [92]:
num_nans = loan.isna().sum().sum()

print(num_nans)

0

# 이상치 제거

In [93]:
q1 = loan.quantile(0.25)
q3 = loan.quantile(0.75)
iqr = q3-q1

In [94]:
loan_k = loan.iloc[:,:]

In [95]:
loan_k = loan_k[loan_k['loan_amnt_log']<(q3['loan_amnt_log']+1.5*iqr['loan_amnt_log'])]
loan_k = loan_k[loan_k['loan_amnt_log']>(q1['loan_amnt_log']-1.5*iqr['loan_amnt_log'])]
loan_k.shape

(216108, 87)

In [96]:
loan_k = loan_k[loan_k['annual_inc_log']<(q3['annual_inc_log']+1.5*iqr['annual_inc_log'])]
loan_k = loan_k[loan_k['annual_inc_log']>(q1['annual_inc_log']-1.5*iqr['annual_inc_log'])]
loan_k.shape

(212637, 87)

In [97]:
loan_k = loan_k[loan_k['dti_log']<(q3['dti_log']+1.5*iqr['dti_log'])]
loan_k = loan_k[loan_k['dti_log']>(q1['dti_log']-1.5*iqr['dti_log'])]
loan_k.shape

(207130, 87)

In [98]:
loan_k = loan_k[loan_k['inq_last_6mths']<(q3['inq_last_6mths']+1.5*iqr['inq_last_6mths'])]
loan_k = loan_k[loan_k['inq_last_6mths']>(q1['inq_last_6mths']-1.5*iqr['inq_last_6mths'])]
loan_k.shape

(196363, 87)

In [99]:
loan_k = loan_k[loan_k['open_acc']<(q3['open_acc']+1.5*iqr['open_acc'])]
loan_k = loan_k[loan_k['open_acc']>(q1['open_acc']-1.5*iqr['open_acc'])]
loan_k.shape

(188385, 87)

In [100]:
loan_k = loan_k[loan_k['revol_bal_log']<(q3['revol_bal_log']+1.5*iqr['revol_bal_log'])]
loan_k = loan_k[loan_k['revol_bal_log']>(q1['revol_bal_log']-1.5*iqr['revol_bal_log'])]
loan_k.shape

(183746, 87)

In [101]:
loan_k = loan_k[loan_k['revol_util_log']<(q3['revol_util_log']+1.5*iqr['revol_util_log'])]
loan_k = loan_k[loan_k['revol_util_log']>(q1['revol_util_log']-1.5*iqr['revol_util_log'])]
loan_k.shape

(183742, 87)

In [110]:
loan_k = loan_k[loan_k['fico_average_log']<(q3['fico_average_log']+1.5*iqr['fico_average_log'])]
loan_k = loan_k[loan_k['fico_average_log']>(q1['fico_average_log']-1.5*iqr['fico_average_log'])]
loan_k.shape

(179226, 87)

In [111]:
num_nans = loan_k.isna().sum().sum()

print(num_nans)

0

# StandardScaler

In [112]:
from sklearn.preprocessing import StandardScaler

In [113]:
X = loan_k.drop('depvar', axis=1)
y = loan_k['depvar']

In [114]:
# 컬럼 순서 맞추기
X_columns = ['home_ownership1', 'home_ownership2', 'home_ownership3',
       'home_ownership4', 'home_ownership5', 'verification_status1',
       'verification_status2', 'addr_state1', 'addr_state2', 'addr_state3',
       'addr_state4', 'addr_state5', 'addr_state6', 'addr_state7',
       'addr_state8', 'addr_state9', 'addr_state10', 'addr_state11',
       'addr_state12', 'addr_state13', 'addr_state14', 'addr_state15',
       'addr_state16', 'addr_state17', 'addr_state18', 'addr_state19',
       'addr_state20', 'addr_state21', 'addr_state22', 'addr_state23',
       'addr_state24', 'addr_state25', 'addr_state26', 'addr_state27',
       'addr_state28', 'addr_state29', 'addr_state30', 'addr_state31',
       'addr_state32', 'addr_state33', 'addr_state34', 'addr_state35',
       'addr_state36', 'addr_state37', 'addr_state38', 'addr_state39',
       'addr_state40', 'addr_state41', 'addr_state42', 'addr_state43',
       'addr_state44', 'addr_state45', 'addr_state46', 'addr_state47',
       'addr_state48', 'addr_state49', 'addr_state50', 'emp_length1',
       'emp_length2', 'emp_length3', 'emp_length4', 'emp_length5',
       'emp_length6', 'emp_length7', 'emp_length8', 'emp_length9',
       'emp_length10', 'emp_length11', 'inq_last_6mths', 'open_acc', 'pub_rec',
       'pub_rec_bankruptcies', 'tax_liens', 'loan_amnt_log', 'annual_inc_log',
       'dti_log', 'delinq_2yrs_log', 'fico_average_log', 'revol_bal_log',
       'revol_util_log', 'total_acc_log', 'collections_12_mths_ex_med_log',
       'tot_coll_amt_log', 'purpose_group1', 'purpose_group2',
       'purpose_group4']
X = X[X_columns]

In [131]:
scaler = StandardScaler()
scaler.fit(X)
X_scaled = scaler.transform(X)

In [132]:
print(X_scaled.shape)
y.shape

(179226, 86)

(179226,)

In [133]:
num_nans = pd.DataFrame(X_scaled).isna().sum().sum()

print(num_nans)

0

# csv 파일 출력

In [134]:
X_scaled = pd.DataFrame(X_scaled)
final = X_scaled.reset_index(drop=True)

In [138]:
y = pd.DataFrame(y)
y = y.reset_index(drop=True)

In [139]:

final['target'] = y

In [140]:
final.shape

(179226, 87)

In [141]:
num_nans = final.isna().sum().sum()

print(num_nans)

0

In [143]:
final.to_csv('preprocessed_test.csv', index=False)

In [142]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179226 entries, 0 to 179225
Data columns (total 87 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       179226 non-null  float64
 1   1       179226 non-null  float64
 2   2       179226 non-null  float64
 3   3       179226 non-null  float64
 4   4       179226 non-null  float64
 5   5       179226 non-null  float64
 6   6       179226 non-null  float64
 7   7       179226 non-null  float64
 8   8       179226 non-null  float64
 9   9       179226 non-null  float64
 10  10      179226 non-null  float64
 11  11      179226 non-null  float64
 12  12      179226 non-null  float64
 13  13      179226 non-null  float64
 14  14      179226 non-null  float64
 15  15      179226 non-null  float64
 16  16      179226 non-null  float64
 17  17      179226 non-null  float64
 18  18      179226 non-null  float64
 19  19      179226 non-null  float64
 20  20      179226 non-null  float64
 21  21      179226 non-null  float64
 22  22      179226 non-null  float64
 23  23      179226 non-null  float64
 24  24      179226 non-null  float64
 25  25      179226 non-null  float64
 26  26      179226 non-null  float64
 27  27      179226 non-null  float64
 28  28      179226 non-null  float64
 29  29      179226 non-null  float64
 30  30      179226 non-null  float64
 31  31      179226 non-null  float64
 32  32      179226 non-null  float64
 33  33      179226 non-null  float64
 34  34      179226 non-null  float64
 35  35      179226 non-null  float64
 36  36      179226 non-null  float64
 37  37      179226 non-null  float64
 38  38      179226 non-null  float64
 39  39      179226 non-null  float64
 40  40      179226 non-null  float64
 41  41      179226 non-null  float64
 42  42      179226 non-null  float64
 43  43      179226 non-null  float64
 44  44      179226 non-null  float64
 45  45      179226 non-null  float64
 46  46      179226 non-null  float64
 47  47      179226 non-null  float64
 48  48      179226 non-null  float64
 49  49      179226 non-null  float64
 50  50      179226 non-null  float64
 51  51      179226 non-null  float64
 52  52      179226 non-null  float64
 53  53      179226 non-null  float64
 54  54      179226 non-null  float64
 55  55      179226 non-null  float64
 56  56      179226 non-null  float64
 57  57      179226 non-null  float64
 58  58      179226 non-null  float64
 59  59      179226 non-null  float64
 60  60      179226 non-null  float64
 61  61      179226 non-null  float64
 62  62      179226 non-null  float64
 63  63      179226 non-null  float64
 64  64      179226 non-null  float64
 65  65      179226 non-null  float64
 66  66      179226 non-null  float64
 67  67      179226 non-null  float64
 68  68      179226 non-null  float64
 69  69      179226 non-null  float64
 70  70      179226 non-null  float64
 71  71      179226 non-null  float64
 72  72      179226 non-null  float64
 73  73      179226 non-null  float64
 74  74      179226 non-null  float64
 75  75      179226 non-null  float64
 76  76      179226 non-null  float64
 77  77      179226 non-null  float64
 78  78      179226 non-null  float64
 79  79      179226 non-null  float64
 80  80      179226 non-null  float64
 81  81      179226 non-null  float64
 82  82      179226 non-null  float64
 83  83      179226 non-null  float64
 84  84      179226 non-null  float64
 85  85      179226 non-null  float64
 86  target  179226 non-null  float32
dtypes: float32(1), float64(86)
memory usage: 118.3 MB

In [68]:
num_nans = final.isna().sum().sum()

print(num_nans)

32287